# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual envs
.venv/
venv/

# Streamlit cache & secrets (don’t commit secrets!)
.streamlit/cache/
.streamlit/secrets.toml

# OS/editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/
